box, stack {
  height: 16px;
  width: 16px;
  background-image: url(u6tiles+objects.png);
}

window { 
/*  background-image: url(background.png);*/
  /*background-color: black;*/
}

window > grid { 
  background-color: #fcf4c0; 
}

/*
spacer#n, spacer#s { 
  height: 16px;
  background-image: url(border.png);
}

spacer#e, spacer#w { 
  width: 16px;
  background-image: url(border.png);
}
*/

